# Frontend
# Logs
frontend/app/logs
frontend/app/*.log
frontend/app/npm-debug.log*
frontend/app/yarn-debug.log*
frontend/app/yarn-error.log*
frontend/app/pnpm-debug.log*
frontend/app/lerna-debug.log*

# Frontend dependencies and build
frontend/app/node_modules
frontend/app/dist
frontend/app/dist-ssr
frontend/app/*.local
frontend/app/package-lock.json

# Frontend environment files
frontend/app/.env
frontend/app/.env.local
frontend/app/.env.development.local
frontend/app/.env.test.local
frontend/app/.env.production.local

# Backend dependencies and build
backend/vendor

# Wildcard ignore for any .env files
**/*.env

# Backend
# Do we need this here btw for the backend?
# # Database files
# *.sqlite
# *.sqlite3
# *.db


# Backend environment files
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Common
*.log
log/
logs/
logging/
*.log.*
rentdaddy_key
rentdaddy_key.pub
