# Frontend
# Logs
frontend/app/logs
frontend/app/*.log
frontend/app/npm-debug.log*
frontend/app/yarn-debug.log*
frontend/app/yarn-error.log*
frontend/app/pnpm-debug.log*
frontend/app/lerna-debug.log*

# Frontend dependencies and build
frontend/app/node_modules
frontend/app/dist
frontend/app/dist-ssr
frontend/app/*.local
frontend/app/package-lock.json

# Frontend environment files
frontend/app/.env
frontend/app/.env.local
frontend/app/.env.development.local
frontend/app/.env.test.local
frontend/app/.env.production.local

# Wildcard ignore for any .env files
**/*.env

# Backend
# Do we need this here btw for the backend?
# # Database files
# *.sqlite
# *.sqlite3
# *.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Common
*.log
log/
logs/
logging/
*.log.*
deployment/simplified_terraform/.terraform.lock.hcl
deployment/simplified_terraform/container-instances-describe.txt
deployment/simplified_terraform/describe-autoscaling-groups.out
deployment/simplified_terraform/ecs_describe_service_out.txt
deployment/simplified_terraform/hostedzonesbyname.txt
deployment/simplified_terraform/list-resource-record-sets.txt
deployment/simplified_terraform/new_template.json
deployment/simplified_terraform/task-describe-out.txt
deployment/simplified_terraform/template_data.json
deployment/simplified_terraform/template.json
deployment/simplified_terraform/terraform.show.out
deployment/simplified_terraform/terraform.tfstate
deployment/simplified_terraform/terraform.tfstate.backup
deployment/simplified_terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.92.0/darwin_arm64/LICENSE.txt
deployment/simplified_terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.92.0/darwin_arm64/terraform-provider-aws_v5.92.0_x5
deployment/terraform/*.*
deployment/terraform/*
